.form {
  margin-bottom: 32px;
  padding: 24px;
  display: inline-block;
  outline: 1px solid #000;
  border-radius: 4px;
}

.label {
  font-size: 18px;
  margin-right: 8px;
}

.input {
  font-size: 14px;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 4px;
}

.input:not(:last-of-type) {
  margin-right: 32px;
}

.button {
  display: block;
  padding: 8px 16px;
  margin: 24px auto 0 auto;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
}

.input:hover,
.input:focus,
.button:hover {
  outline: 1px solid #000;
}
